Asistente_Reservas_Restaurante_AI_Agent.json
{
  "name": "Asistente Reservas Restaurante - AI Agent -WEBHOOK",
  "nodes": [
    {
      "parameters": {
        "content": "# 🍽️ Asistente de Reservas para Restaurantes\n\n## Workflow 100% n8n con AI Agent\n\n**Funcionalidades:**\n- ✅ Consultar disponibilidad de mesas\n- ✅ Crear reservas con datos de contacto\n- ✅ Gestionar tronas y alzadores\n- ✅ Cancelar/modificar reservas\n- ✅ Notificaciones al personal\n\n**Requisitos:**\n- Supabase (tablas y funciones SQL)\n- OpenAI API Key\n- Telegram Bot (notificaciones)\n\n**Canales:**\n- n8n Web Chat integrado\n- WhatsApp Business\n- Telegram Bot",
        "height": 420,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        -320
      ],
      "id": "9222da74-e905-469b-8b64-b6917b8e0410",
      "name": "Introducción"
    },
    {
      "parameters": {
        "content": "## 📥 Entrada: Chat Trigger\n\nRecibe mensajes del Web Chat integrado de n8n.\n\nPara WhatsApp/Telegram, crear workflows separados que envíen datos a este workflow.",
        "height": 180,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        128
      ],
      "id": "33400377-7a42-46bb-b9c4-0b801d3ff14d",
      "name": "Nota Entrada"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuración\n\nLa configuración del restaurante se obtiene de **Supabase** mediante el Tool `obtener_info_restaurante`.\n\nTablas en Supabase:\n- `config_restaurante` (clave-valor)\n- `zonas_restaurante`\n- `info_restaurante`",
        "height": 200,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        128
      ],
      "id": "ab2f9f29-650a-4643-8448-0fa3b0f372a7",
      "name": "Nota Config"
    },
    {
      "parameters": {
        "content": "## 🤖 AI Agent\n\nCerebro del asistente.\n\nConectados:\n- OpenAI Chat Model (gpt-4o-mini)\n- Simple Memory (sesiones)\n- 6 Tools (Supabase + Telegram)",
        "height": 200,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        128
      ],
      "id": "ea342038-1073-419a-8af0-34751b3b427e",
      "name": "Nota Agent"
    },
    {
      "parameters": {
        "content": "## 🔧 Herramientas (Tools)\n\nConectadas al AI Agent:\n\n1. **Obtener Info Restaurante** - Supabase (config, zonas, info)\n2. **Verificar Disponibilidad** - Supabase\n3. **Crear Reserva** - Supabase\n4. **Consultar Sillas** - Supabase\n5. **Buscar Reserva** - Supabase\n6. **Cancelar Reserva** - Supabase\n7. **Notificar Personal** - Telegram",
        "height": 280,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        400
      ],
      "id": "1a9576d1-ad1e-43b0-b63c-4610f38708e5",
      "name": "Nota Tools"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -112
      ],
      "id": "b9a3de93-7cd2-4437-b50d-3b11e3dc3725",
      "name": "Chat Trigger",
      "webhookId": "4b40a989-96e2-4c74-8ee1-78b2c2fe7fb2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "h7KE5wAQnz5Nk9bw",
          "mode": "id"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -368,
        -112
      ],
      "id": "eaee7153-9ca0-4155-888b-3df0c5453c7e",
      "name": "Obtener Configuración"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $('Chat Trigger').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{ $('Chat Trigger').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "config-obj",
              "name": "config",
              "value": "={{ Object.fromEntries($input.all().map(row => [row.json.clave, row.json.valor])) }}",
              "type": "object"
            },
            {
              "id": "fecha-actual",
              "name": "fecha_actual",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "hora-actual",
              "name": "hora_actual",
              "value": "={{ $now.format('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "dia-semana",
              "name": "dia_semana",
              "value": "={{ ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][$now.weekday] }}",
              "type": "string"
            },
            {
              "id": "7c7712b6-abb8-4825-80a9-e12f2da3dbdd",
              "name": "nombre_restaurante",
              "value": "={{ $json.nombre_restaurante }}",
              "type": "string"
            },
            {
              "id": "cdaa6ceb-b7d8-4de9-8430-b59ad7613d24",
              "name": "nombre_agente",
              "value": "={{ $json.nombre_agente }}",
              "type": "string"
            },
            {
              "id": "239d6fb3-d95f-43f6-918e-55413edac3b5",
              "name": "direccion",
              "value": "={{ $json.direccion }}",
              "type": "string"
            },
            {
              "id": "697e2545-0490-4865-842c-0975be4a95ea",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "dafc7fbe-f5fe-4397-ad80-062263ce2e24",
              "name": "horario_comidas",
              "value": "={{ $json.horario_comidas }}",
              "type": "string"
            },
            {
              "id": "44286fad-4d57-4f64-bb5a-464d0e17528a",
              "name": "horario_cenas",
              "value": "={{ $json.horario_cenas }}",
              "type": "string"
            },
            {
              "id": "16d860d2-68b9-49b7-b8a8-1049597fa24c",
              "name": "dia_cierre",
              "value": "={{ $json.dia_cierre }}",
              "type": "string"
            },
            {
              "id": "0ffddd45-fdd9-4936-b143-b10b7363d086",
              "name": "precio_medio",
              "value": "={{ $json.precio_medio }}",
              "type": "string"
            },
            {
              "id": "d7a70a6d-e51f-4ec9-ac71-84910d6fcad9",
              "name": "menu_dia_precio",
              "value": "={{ $json.menu_dia_precio }}",
              "type": "string"
            },
            {
              "id": "fd69cbaf-10a8-47af-9752-eb4f61ba845d",
              "name": "total_tronas",
              "value": "={{ $json.total_tronas }}",
              "type": "string"
            },
            {
              "id": "19d19985-7291-457b-bcb4-61fae4822c4b",
              "name": "total_alzadores",
              "value": "={{ $json.total_alzadores }}",
              "type": "string"
            },
            {
              "id": "534a6200-c393-44b8-8daf-13769bb76927",
              "name": "max_sillas_reserva",
              "value": "={{ $json.max_sillas_reserva }}",
              "type": "string"
            },
            {
              "id": "d1f916ff-1b96-4030-a9cf-5bba95b7576c",
              "name": "anticipacion_minima",
              "value": "={{ $json.anticipacion_minima }}",
              "type": "string"
            },
            {
              "id": "7dcc6ad0-8468-42c7-99a2-ada128a446f4",
              "name": "anticipacion_maxima",
              "value": "={{ $json.anticipacion_maxima }}",
              "type": "string"
            },
            {
              "id": "6897bbf8-c20c-49b4-af44-9c078155f7be",
              "name": "duracion_reserva",
              "value": "={{ $json.duracion_reserva }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -112
      ],
      "id": "280f9475-d4ff-4a68-9808-5e5601cc95a9",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        112
      ],
      "id": "a8f915bb-3586-45de-83e2-c516f3b5331b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verifica qué mesas están disponibles para una fecha, hora y número de personas específicos. Opcionalmente filtra por zona (Terraza, Interior, Privado, etc.). Devuelve lista de mesas con ID, zona, área, capacidad y características.",
        "operation": "getAll",
        "tableId": "mesas",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=activa=eq.true&capacidad=gte.{{ $fromAI('num_personas', 'Número de personas para la reserva', 'number') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        272,
        112
      ],
      "id": "c5372ab2-bf61-406a-a476-2d10b2a62f0f",
      "name": "verificar_disponibilidad_mesas",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una nueva reserva en el restaurante. Requiere: fecha (YYYY-MM-DD), hora (HH:MM), nombre_cliente, telefono, num_personas, mesa_id. Opcionales: email, tronas (número), alzadores (número), notas. Devuelve el código de confirmación.",
        "tableId": "reservas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $fromAI('fecha', 'Fecha de la reserva en formato YYYY-MM-DD', 'string') }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "={{ $fromAI('hora', 'Hora de la reserva en formato HH:MM', 'string') }}"
            },
            {
              "fieldId": "nombre_cliente",
              "fieldValue": "={{ $fromAI('nombre_cliente', 'Nombre completo del cliente', 'string') }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $fromAI('telefono', 'Teléfono de contacto del cliente', 'string') }}"
            },
            {
              "fieldId": "num_personas",
              "fieldValue": "={{ $fromAI('num_personas', 'Número de comensales', 'number') }}"
            },
            {
              "fieldId": "mesa_id",
              "fieldValue": "={{ $fromAI('mesa_id', 'ID de la mesa seleccionada, ejemplo: M001', 'string') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'Email del cliente, dejar vacío si no lo proporciona', 'string') }}"
            },
            {
              "fieldId": "tronas",
              "fieldValue": "={{ $fromAI('tronas', 'Número de tronas/sillas para bebé necesarias, 0 si no necesita', 'number') }}"
            },
            {
              "fieldId": "alzadores",
              "fieldValue": "={{ $fromAI('alzadores', 'Número de alzadores para niños necesarios, 0 si no necesita', 'number') }}"
            },
            {
              "fieldId": "notas",
              "fieldValue": "={{ $fromAI('notas', 'Notas especiales o peticiones del cliente', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "37fa530f-585c-46d9-9f92-78180474f5c0",
      "name": "crear_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulta la disponibilidad de tronas (sillas para bebé) y alzadores (sillas elevadoras para niños) para una fecha específica. Devuelve cuántas están disponibles.",
        "operation": "getAll",
        "tableId": "reservas",
        "returnAll": true,
        "filterType": "string",
        "filterString": "fecha=eq.{{ $fromAI('fecha', 'Fecha a consultar en formato YYYY-MM-DD', 'string') }}&estado=in.(pendiente,confirmada)"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        560,
        112
      ],
      "id": "eed34d4a-ef14-436f-a924-4ece3f955be6",
      "name": "consultar_sillas_disponibles",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca una reserva existente por código de reserva (RES-XXXXX) o por teléfono del cliente. Devuelve todos los detalles de la reserva.",
        "operation": "getAll",
        "tableId": "reservas",
        "limit": 5,
        "filterType": "string",
        "filterString": "or=(codigo.eq.{{ $fromAI('codigo', 'Código de reserva RES-XXXXX o dejar vacío', 'string') }},telefono.eq.{{ $fromAI('telefono', 'Teléfono del cliente o dejar vacío', 'string') }})"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        272,
        240
      ],
      "id": "b586591b-2889-45d6-a934-806e9156e1fe",
      "name": "buscar_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela una reserva existente. Cambia el estado a 'cancelada'. Requiere el ID único (UUID) de la reserva, no el código.",
        "operation": "update",
        "tableId": "reservas",
        "filterType": "string",
        "filterString": "id=eq.{{ $fromAI('reserva_id', 'UUID de la reserva a cancelar', 'string') }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "cancelada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        416,
        240
      ],
      "id": "7aeeb87a-b4fc-4996-bdff-0e8605a0846f",
      "name": "cancelar_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envía una notificación al personal del restaurante por Telegram. Usar para reservas de grupos grandes (8+ personas), peticiones especiales importantes, o situaciones que requieran atención.",
        "chatId": "={{ $('Preparar Contexto').item.json.config.telegram_chat_id || '-1001234567890' }}",
        "text": "={{ $fromAI('mensaje', 'Mensaje para notificar al personal del restaurante', 'string') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        560,
        240
      ],
      "id": "c6d8cc62-c62e-4027-8640-07d59e908810",
      "name": "notificar_personal",
      "webhookId": "a5aa1b24-94be-4a88-963f-889661e83ffb",
      "credentials": {
        "telegramApi": {
          "id": "hyQLZ5KnUejpDqlZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene toda la información del restaurante: configuración general (nombre, dirección, teléfono, horarios, precios), zonas disponibles para reservas (Terraza, Salón Interior, Barra, Salón Privado, Terraza Superior) e información adicional (especialidades, menú del día, formas de pago, parking, accesibilidad, mascotas, eventos). USAR SIEMPRE al inicio de la conversación o cuando el cliente pregunte sobre el restaurante.",
        "operation": "getAll",
        "tableId": "config_restaurante",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        704,
        112
      ],
      "id": "5f738793-1d3e-41e9-ac88-9b82eb9a9eb8",
      "name": "obtener_config_restaurante",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene las zonas disponibles del restaurante con su descripción. Zonas: Terraza (exterior, vistas al mar), Salón Interior (climatizado), Barra (mesas altas), Salón Privado (eventos 8-20 personas), Terraza Superior (mejores vistas). Usar cuando el cliente pregunte por zonas o áreas del restaurante.",
        "operation": "getAll",
        "tableId": "zonas_restaurante",
        "returnAll": true,
        "filterType": "string",
        "filterString": "disponible=eq.true"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "728a7efa-e5ab-4227-bbb4-00f644a66bad",
      "name": "obtener_zonas_restaurante",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene información detallada del restaurante por categorías: especialidades (paella, arroces, pescados), menú del día, formas de pago, parking, accesibilidad, política de mascotas, eventos privados. Usar cuando el cliente pregunte sobre comida, servicios o información general.",
        "operation": "getAll",
        "tableId": "info_restaurante",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        848,
        112
      ],
      "id": "ec1fc983-aed1-439f-b679-e246814ae26c",
      "name": "obtener_info_restaurante",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "8e4eb924-c3c3-4a36-ab9b-68397af50f1a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ETqSjqYlWaYTf1rT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').item.json.chatInput }}",
        "options": {
          "systemMessage": "# ROL\nEres Marina, la asistente virtual de reservas de La Terraza Mediterránea.\n\n# PERSONALIDAD\n- Amable, eficiente y servicial\n- Hablas de tú a los clientes\n- Transmites la esencia mediterránea y relajada del restaurante\n- Eres proactiva ofreciendo alternativas cuando no hay disponibilidad\n\n# HERRAMIENTAS DISPONIBLES\nTienes acceso a las siguientes herramientas que DEBES usar:\n\n1. **obtener_config_restaurante**: Obtiene configuración general (nombre, dirección, teléfono, horarios, precios, tronas, alzadores). USAR cuando necesites datos del restaurante.\n\n2. **obtener_zonas_restaurante**: Obtiene las zonas disponibles (Terraza, Salón Interior, Barra, Salón Privado, Terraza Superior). USAR cuando el cliente pregunte por zonas.\n\n3. **obtener_info_restaurante**: Obtiene información por categorías (especialidades, menú del día, formas de pago, parking, accesibilidad, mascotas, eventos). USAR cuando pregunten sobre comida o servicios.\n\n4. **verificar_disponibilidad_mesas**: Verifica mesas disponibles para fecha, hora y número de personas.\n\n5. **crear_reserva**: Crea una nueva reserva con todos los datos del cliente.\n\n6. **consultar_sillas_disponibles**: Consulta tronas y alzadores disponibles para una fecha.\n\n7. **buscar_reserva**: Busca reserva por código o teléfono.\n\n8. **cancelar_reserva**: Cancela una reserva existente.\n\n9. **notificar_personal**: Notifica al personal por Telegram (grupos grandes, peticiones especiales).\n\n# REGLAS IMPORTANTES\n- SIEMPRE usa las herramientas para obtener información actualizada\n- NO inventes datos, consulta siempre la base de datos\n- Tolerancia de llegada: 15 minutos\n- Duración estándar de reserva: 2 horas\n\n# FECHA Y HORA ACTUAL\n- Fecha: {{ $now.format('yyyy-MM-dd') }}\n- Hora: {{ $now.format('HH:mm') }}\n- Día: {{ ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][$now.weekday] }}\n\n# FLUJO DE CONVERSACIÓN\n\n## Para NUEVA RESERVA:\n1. Pregunta: ¿Para cuántas personas?\n2. Pregunta: ¿Qué día y a qué hora? (comida 13-16h o cena 20-23:30h)\n3. Pregunta: ¿Tienes preferencia de zona? (terraza, interior, privado...)\n4. Usa herramienta: verificar_disponibilidad_mesas\n5. Si hay disponibilidad:\n   - Muestra las opciones con zona, área, capacidad y características\n   - Pide nombre completo y teléfono de contacto\n   - Pregunta si necesitan trona o alzador para niños\n   - Confirma TODOS los datos antes de crear la reserva\n   - Usa herramienta: crear_reserva\n   - Proporciona el código de reserva (RES-XXXXX)\n   - Recuerda: dirección y hora de llegada\n6. Si NO hay disponibilidad:\n   - Ofrece alternativas: otra hora del mismo día, otra zona\n   - Sugiere días cercanos con disponibilidad\n\n## Para CONSULTA DE DISPONIBILIDAD:\n1. Pregunta los datos necesarios (personas, fecha, hora)\n2. Usa herramienta: verificar_disponibilidad_mesas\n3. Informa las opciones disponibles con detalles\n4. Ofrece hacer la reserva directamente si le interesa\n\n## Para SILLAS DE NIÑO:\n1. Pregunta para qué fecha necesita las sillas\n2. Usa herramienta: consultar_sillas_disponibles\n3. Informa la disponibilidad de tronas y alzadores\n4. Recuerda que se pueden reservar junto con la mesa (máx. 3 por reserva)\n\n## Para CANCELAR RESERVA:\n1. Pide el código de reserva (RES-XXXXX) o el teléfono\n2. Usa herramienta: buscar_reserva\n3. Confirma los datos de la reserva encontrada\n4. Pregunta si está seguro de cancelar\n5. Usa herramienta: cancelar_reserva\n6. Confirma la cancelación y ofrece reservar para otra ocasión\n\n## Para MODIFICAR RESERVA:\n1. Pide el código de reserva o teléfono\n2. Usa herramienta: buscar_reserva\n3. Pregunta qué desea cambiar\n4. Si es fecha/hora: verificar nueva disponibilidad\n5. Actualizar la reserva\n\n## Para CONSULTAS GENERALES:\nResponde usando la información proporcionada sobre:\n- Horarios de apertura y cierre\n- Ubicación y cómo llegar\n- Carta, especialidades (paellas, arroces, pescado)\n- Menú del día\n- Eventos privados y grupos\n- Formas de pago (efectivo, tarjeta, Bizum)\n- Parking cercano\n- Accesibilidad\n- Mascotas (permitidas en terraza)\n\n# FORMATO DE RESPUESTAS\n- Sé conciso pero informativo\n- Usa emojis con moderación (🍽️ 📅 ✅)\n- Para listas de mesas, formatea claramente\n- Siempre confirma la información importante\n\n# AL FINALIZAR UNA RESERVA\n1. Proporciona el código de confirmación\n2. Resume: fecha, hora, personas, mesa, sillas niño si aplica\n3. Recuerda: \"Te esperamos en {{ $json.nombre_restaurante || 'La Terraza Mediterránea' }}, {{ $json.direccion || 'Paseo Marítimo 45' }}\"\n4. Menciona la tolerancia de 15 minutos\n\n# SI NO SABES ALGO\nOfrece el teléfono {{ $json.telefono || '96 123 45 67' }} para consultas específicas.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        128,
        -112
      ],
      "id": "5306209b-1293-4493-b025-015aa2e36f26",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "verificar_disponibilidad_mesas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_sillas_disponibles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "notificar_personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener_config_restaurante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener_zonas_restaurante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener_info_restaurante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d35ea45-f19f-469e-9479-c335c5595ea5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "313f4354b134db69e835734dfd6bbc0e10a924f5f5ef85a82cc1d7cc93fa8a0a"
  },
  "id": "oCuHhFtTwjLZR638",
  "tags": [
    {
      "updatedAt": "2025-11-27T11:29:49.704Z",
      "createdAt": "2025-11-27T11:29:49.704Z",
      "id": "inO2yn1FDCs9sUNT",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2025-11-27T11:29:49.716Z",
      "createdAt": "2025-11-27T11:29:49.716Z",
      "id": "jMck8HrIGWoqH4OV",
      "name": "Restaurante"
    },
    {
      "updatedAt": "2025-11-27T11:29:49.722Z",
      "createdAt": "2025-11-27T11:29:49.722Z",
      "id": "jW4ZRLqr81Gw8NSE",
      "name": "Reservas"
    },
    {
      "updatedAt": "2025-11-27T11:29:49.725Z",
      "createdAt": "2025-11-27T11:29:49.725Z",
      "id": "uvJYXLM6IQQgfmEa",
      "name": "Supabase"
    }
  ]
}