Asistente_Reservas_Restaurante_AI_Agent.json
{
  "name": "Asistente Reservas Restaurante - AI Agent",
  "nodes": [
    {
      "parameters": {
        "content": "# 🍽️ Asistente de Reservas para Restaurantes\n\n## Workflow 100% n8n con AI Agent\n\n**Funcionalidades:**\n- ✅ Consultar disponibilidad de mesas\n- ✅ Crear reservas con datos de contacto\n- ✅ Gestionar tronas y alzadores\n- ✅ Cancelar/modificar reservas\n- ✅ Notificaciones al personal\n\n**Requisitos:**\n- Supabase (tablas y funciones SQL)\n- OpenAI API Key\n- Telegram Bot (notificaciones)\n\n**Canales:**\n- n8n Web Chat integrado\n- WhatsApp Business\n- Telegram Bot",
        "height": 420,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b8c2fea4-d3e6-4b37-8e16-eaff91dbe5de",
      "name": "Introducción"
    },
    {
      "parameters": {
        "content": "## 📥 Entrada: Chat Trigger\n\nRecibe mensajes del Web Chat integrado de n8n.\n\nPara WhatsApp/Telegram, crear workflows separados que envíen datos a este workflow.",
        "height": 180,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        448
      ],
      "id": "978f23fb-7124-49c6-bd25-461d5a17b6b3",
      "name": "Nota Entrada"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuración\n\nLee la configuración del restaurante desde Data Table.\n\n**Crear Data Table:**\n- Nombre: `config_restaurante`\n- Columnas: clave, valor, descripcion",
        "height": 200,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        448
      ],
      "id": "97ba9348-67b1-4b95-a7c6-895484663cef",
      "name": "Nota Config"
    },
    {
      "parameters": {
        "content": "## 🤖 AI Agent\n\nCerebro del asistente.\n\nConectados:\n- OpenAI Chat Model (gpt-4o-mini)\n- Simple Memory (sesiones)\n- 6 Tools (Supabase + Telegram)",
        "height": 200,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        448
      ],
      "id": "09404f19-c440-4428-bd91-10bf07876946",
      "name": "Nota Agent"
    },
    {
      "parameters": {
        "content": "## 🔧 Herramientas (Tools)\n\nConectadas al AI Agent:\n\n1. **Verificar Disponibilidad** - Supabase\n2. **Crear Reserva** - Supabase\n3. **Consultar Sillas** - Supabase\n4. **Buscar Reserva** - Supabase\n5. **Cancelar Reserva** - Supabase\n6. **Notificar Personal** - Telegram",
        "height": 260,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        448
      ],
      "id": "120f1294-d93c-45cb-bab1-a19191019b12",
      "name": "Nota Tools"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "¡Hola! 👋 Soy Marina, tu asistente de reservas de La Terraza Mediterránea.\n\n¿En qué puedo ayudarte hoy?\n\n• Hacer una reserva\n• Consultar disponibilidad\n• Cancelar o modificar reserva\n• Información del restaurante",
        "options": {
          "allowFileUploads": false,
          "inputPlaceholder": "Escribe tu mensaje aquí...",
          "showWelcomeScreen": false,
          "subtitle": "Asistente de reservas 24/7",
          "title": "🍽️ La Terraza Mediterránea",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        64,
        208
      ],
      "id": "71dc080b-cef7-4a73-b611-6609c110636d",
      "name": "Chat Trigger",
      "webhookId": "reservas-restaurante-chat"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "h7KE5wAQnz5Nk9bw",
          "mode": "id"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "fcb13aad-c6a6-49a7-a30f-f6d04336a020",
      "name": "Obtener Configuración"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $('Chat Trigger').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{ $('Chat Trigger').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "config-obj",
              "name": "config",
              "value": "={{ Object.fromEntries($input.all().map(row => [row.json.clave, row.json.valor])) }}",
              "type": "object"
            },
            {
              "id": "fecha-actual",
              "name": "fecha_actual",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "hora-actual",
              "name": "hora_actual",
              "value": "={{ $now.format('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "dia-semana",
              "name": "dia_semana",
              "value": "={{ ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][$now.weekday] }}",
              "type": "string"
            },
            {
              "id": "7c7712b6-abb8-4825-80a9-e12f2da3dbdd",
              "name": "nombre_restaurante",
              "value": "={{ $json.nombre_restaurante }}",
              "type": "string"
            },
            {
              "id": "cdaa6ceb-b7d8-4de9-8430-b59ad7613d24",
              "name": "nombre_agente",
              "value": "={{ $json.nombre_agente }}",
              "type": "string"
            },
            {
              "id": "239d6fb3-d95f-43f6-918e-55413edac3b5",
              "name": "direccion",
              "value": "={{ $json.direccion }}",
              "type": "string"
            },
            {
              "id": "697e2545-0490-4865-842c-0975be4a95ea",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "dafc7fbe-f5fe-4397-ad80-062263ce2e24",
              "name": "horario_comidas",
              "value": "={{ $json.horario_comidas }}",
              "type": "string"
            },
            {
              "id": "44286fad-4d57-4f64-bb5a-464d0e17528a",
              "name": "horario_cenas",
              "value": "={{ $json.horario_cenas }}",
              "type": "string"
            },
            {
              "id": "16d860d2-68b9-49b7-b8a8-1049597fa24c",
              "name": "dia_cierre",
              "value": "={{ $json.dia_cierre }}",
              "type": "string"
            },
            {
              "id": "0ffddd45-fdd9-4936-b143-b10b7363d086",
              "name": "precio_medio",
              "value": "={{ $json.precio_medio }}",
              "type": "string"
            },
            {
              "id": "d7a70a6d-e51f-4ec9-ac71-84910d6fcad9",
              "name": "menu_dia_precio",
              "value": "={{ $json.menu_dia_precio }}",
              "type": "string"
            },
            {
              "id": "fd69cbaf-10a8-47af-9752-eb4f61ba845d",
              "name": "total_tronas",
              "value": "={{ $json.total_tronas }}",
              "type": "string"
            },
            {
              "id": "19d19985-7291-457b-bcb4-61fae4822c4b",
              "name": "total_alzadores",
              "value": "={{ $json.total_alzadores }}",
              "type": "string"
            },
            {
              "id": "534a6200-c393-44b8-8daf-13769bb76927",
              "name": "max_sillas_reserva",
              "value": "={{ $json.max_sillas_reserva }}",
              "type": "string"
            },
            {
              "id": "d1f916ff-1b96-4030-a9cf-5bba95b7576c",
              "name": "anticipacion_minima",
              "value": "={{ $json.anticipacion_minima }}",
              "type": "string"
            },
            {
              "id": "7dcc6ad0-8468-42c7-99a2-ada128a446f4",
              "name": "anticipacion_maxima",
              "value": "={{ $json.anticipacion_maxima }}",
              "type": "string"
            },
            {
              "id": "6897bbf8-c20c-49b4-af44-9c078155f7be",
              "name": "duracion_reserva",
              "value": "={{ $json.duracion_reserva }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        208
      ],
      "id": "1d47db1c-8493-4858-8f39-6aac0f597082",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Contexto').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        432
      ],
      "id": "58d944cc-ff03-475e-9fa9-66baf84dab03",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verifica qué mesas están disponibles para una fecha, hora y número de personas específicos. Opcionalmente filtra por zona (Terraza, Interior, Privado, etc.). Devuelve lista de mesas con ID, zona, área, capacidad y características.",
        "operation": "getAll",
        "tableId": "mesas",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=activa=eq.true&capacidad=gte.{{ $fromAI('num_personas', 'Número de personas para la reserva', 'number') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        944,
        432
      ],
      "id": "252c9056-7ee4-4622-82cb-982d4cb5c04b",
      "name": "verificar_disponibilidad_mesas",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una nueva reserva en el restaurante. Requiere: fecha (YYYY-MM-DD), hora (HH:MM), nombre_cliente, telefono, num_personas, mesa_id. Opcionales: email, tronas (número), alzadores (número), notas. Devuelve el código de confirmación.",
        "tableId": "reservas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $fromAI('fecha', 'Fecha de la reserva en formato YYYY-MM-DD', 'string') }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "={{ $fromAI('hora', 'Hora de la reserva en formato HH:MM', 'string') }}"
            },
            {
              "fieldId": "nombre_cliente",
              "fieldValue": "={{ $fromAI('nombre_cliente', 'Nombre completo del cliente', 'string') }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $fromAI('telefono', 'Teléfono de contacto del cliente', 'string') }}"
            },
            {
              "fieldId": "num_personas",
              "fieldValue": "={{ $fromAI('num_personas', 'Número de comensales', 'number') }}"
            },
            {
              "fieldId": "mesa_id",
              "fieldValue": "={{ $fromAI('mesa_id', 'ID de la mesa seleccionada, ejemplo: M001', 'string') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'Email del cliente, dejar vacío si no lo proporciona', 'string') }}"
            },
            {
              "fieldId": "tronas",
              "fieldValue": "={{ $fromAI('tronas', 'Número de tronas/sillas para bebé necesarias, 0 si no necesita', 'number') }}"
            },
            {
              "fieldId": "alzadores",
              "fieldValue": "={{ $fromAI('alzadores', 'Número de alzadores para niños necesarios, 0 si no necesita', 'number') }}"
            },
            {
              "fieldId": "notas",
              "fieldValue": "={{ $fromAI('notas', 'Notas especiales o peticiones del cliente', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1088,
        432
      ],
      "id": "83ba3b8b-d881-4a5b-8685-f779533daeca",
      "name": "crear_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulta la disponibilidad de tronas (sillas para bebé) y alzadores (sillas elevadoras para niños) para una fecha específica. Devuelve cuántas están disponibles.",
        "operation": "getAll",
        "tableId": "reservas",
        "returnAll": true,
        "filterType": "string",
        "filterString": "fecha=eq.{{ $fromAI('fecha', 'Fecha a consultar en formato YYYY-MM-DD', 'string') }}&estado=in.(pendiente,confirmada)"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1232,
        432
      ],
      "id": "ea900889-11ec-4b74-a9b3-0d958339cc4f",
      "name": "consultar_sillas_disponibles",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca una reserva existente por código de reserva (RES-XXXXX) o por teléfono del cliente. Devuelve todos los detalles de la reserva.",
        "operation": "getAll",
        "tableId": "reservas",
        "limit": 5,
        "filterType": "string",
        "filterString": "or=(codigo.eq.{{ $fromAI('codigo', 'Código de reserva RES-XXXXX o dejar vacío', 'string') }},telefono.eq.{{ $fromAI('telefono', 'Teléfono del cliente o dejar vacío', 'string') }})"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        944,
        560
      ],
      "id": "e7222507-5315-48e2-9e1f-7401aa0415ad",
      "name": "buscar_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela una reserva existente. Cambia el estado a 'cancelada'. Requiere el ID único (UUID) de la reserva, no el código.",
        "operation": "update",
        "tableId": "reservas",
        "filterType": "string",
        "filterString": "id=eq.{{ $fromAI('reserva_id', 'UUID de la reserva a cancelar', 'string') }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "cancelada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1088,
        560
      ],
      "id": "1ec2d526-39a9-427b-b5ba-c59690a121a8",
      "name": "cancelar_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envía una notificación al personal del restaurante por Telegram. Usar para reservas de grupos grandes (8+ personas), peticiones especiales importantes, o situaciones que requieran atención.",
        "chatId": "={{ $('Preparar Contexto').item.json.config.telegram_chat_id || '-1001234567890' }}",
        "text": "={{ $fromAI('mensaje', 'Mensaje para notificar al personal del restaurante', 'string') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        1232,
        560
      ],
      "id": "eb7d1159-bae7-4ea2-a457-0f539a24ba93",
      "name": "notificar_personal",
      "webhookId": "bcffe4c9-7b53-4a68-b548-480de0332fa8",
      "credentials": {
        "telegramApi": {
          "id": "hyQLZ5KnUejpDqlZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        320
      ],
      "id": "c77de870-ec02-4e01-9612-1e93db6d353e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ETqSjqYlWaYTf1rT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# ROL\nEres {{ $json.nombre_agente || 'Marina' }}, la asistente virtual de reservas de {{ $json.nombre_restaurante || 'La Terraza Mediterránea' }}.\n\n# PERSONALIDAD\n- Amable, eficiente y servicial\n- Hablas de tú a los clientes\n- Transmites la esencia mediterránea y relajada del restaurante\n- Eres proactiva ofreciendo alternativas cuando no hay disponibilidad\n- Conoces perfectamente el restaurante, sus zonas y especialidades\n\n# INFORMACIÓN DEL RESTAURANTE\n- **Nombre**: {{ $json.nombre_restaurante || 'La Terraza Mediterránea' }}\n- **Dirección**: {{ $json.direccion || 'Paseo Marítimo 45, Valencia' }}\n- **Teléfono**: {{ $json.telefono || '96 123 45 67' }}\n- **Horario comidas**: {{ $json.horario_comidas || '13:00 a 16:00' }}\n- **Horario cenas**: {{ $json.horario_cenas || '20:00 a 23:30' }}\n- **Día de cierre**: {{ $json.dia_cierre || 'Lunes (excepto festivos)' }}\n- **Precio medio**: {{ $json.precio_medio || '35-45€ por persona' }}\n- **Menú del día**: {{ $json.menu_dia_precio || '18,90€' }} (L-V comidas)\n\n# ZONAS DISPONIBLES\n1. **Terraza** - Exterior con vistas al mar, sombrillas\n2. **Salón Interior** - Ambiente climatizado y acogedor\n3. **Barra** - Mesas altas, ideal para aperitivos\n4. **Salón Privado** - Eventos privados (8-20 personas)\n5. **Terraza Superior** - Mejores vistas panorámicas\n\n# SILLAS PARA NIÑOS\n- Tronas disponibles: {{ $json.total_tronas || '6' }}\n- Alzadores disponibles: {{ $json.total_alzadores || '4' }}\n- Máximo por reserva: {{ $json.max_sillas_reserva || '3' }}\n\n# REGLAS DE RESERVA\n- Antelación mínima: {{ $json.anticipacion_minima || '2' }} horas\n- Antelación máxima: {{ $json.anticipacion_maxima || '60' }} días\n- Duración estándar: {{ $json.duracion_reserva || '120' }} minutos\n- Tolerancia llegada: 15 minutos\n\n# FECHA Y HORA ACTUAL\n- Fecha: {{ $json.fecha_actual }}\n- Hora: {{ $json.hora_actual }}\n- Día: {{ $json.dia_semana }}\n\n# FLUJO DE CONVERSACIÓN\n\n## Para NUEVA RESERVA:\n1. Pregunta: ¿Para cuántas personas?\n2. Pregunta: ¿Qué día y a qué hora? (comida 13-16h o cena 20-23:30h)\n3. Pregunta: ¿Tienes preferencia de zona? (terraza, interior, privado...)\n4. Usa herramienta: verificar_disponibilidad_mesas\n5. Si hay disponibilidad:\n   - Muestra las opciones con zona, área, capacidad y características\n   - Pide nombre completo y teléfono de contacto\n   - Pregunta si necesitan trona o alzador para niños\n   - Confirma TODOS los datos antes de crear la reserva\n   - Usa herramienta: crear_reserva\n   - Proporciona el código de reserva (RES-XXXXX)\n   - Recuerda: dirección y hora de llegada\n6. Si NO hay disponibilidad:\n   - Ofrece alternativas: otra hora del mismo día, otra zona\n   - Sugiere días cercanos con disponibilidad\n\n## Para CONSULTA DE DISPONIBILIDAD:\n1. Pregunta los datos necesarios (personas, fecha, hora)\n2. Usa herramienta: verificar_disponibilidad_mesas\n3. Informa las opciones disponibles con detalles\n4. Ofrece hacer la reserva directamente si le interesa\n\n## Para SILLAS DE NIÑO:\n1. Pregunta para qué fecha necesita las sillas\n2. Usa herramienta: consultar_sillas_disponibles\n3. Informa la disponibilidad de tronas y alzadores\n4. Recuerda que se pueden reservar junto con la mesa (máx. 3 por reserva)\n\n## Para CANCELAR RESERVA:\n1. Pide el código de reserva (RES-XXXXX) o el teléfono\n2. Usa herramienta: buscar_reserva\n3. Confirma los datos de la reserva encontrada\n4. Pregunta si está seguro de cancelar\n5. Usa herramienta: cancelar_reserva\n6. Confirma la cancelación y ofrece reservar para otra ocasión\n\n## Para MODIFICAR RESERVA:\n1. Pide el código de reserva o teléfono\n2. Usa herramienta: buscar_reserva\n3. Pregunta qué desea cambiar\n4. Si es fecha/hora: verificar nueva disponibilidad\n5. Actualizar la reserva\n\n## Para CONSULTAS GENERALES:\nResponde usando la información proporcionada sobre:\n- Horarios de apertura y cierre\n- Ubicación y cómo llegar\n- Carta, especialidades (paellas, arroces, pescado)\n- Menú del día\n- Eventos privados y grupos\n- Formas de pago (efectivo, tarjeta, Bizum)\n- Parking cercano\n- Accesibilidad\n- Mascotas (permitidas en terraza)\n\n# FORMATO DE RESPUESTAS\n- Sé conciso pero informativo\n- Usa emojis con moderación (🍽️ 📅 ✅)\n- Para listas de mesas, formatea claramente\n- Siempre confirma la información importante\n\n# AL FINALIZAR UNA RESERVA\n1. Proporciona el código de confirmación\n2. Resume: fecha, hora, personas, mesa, sillas niño si aplica\n3. Recuerda: \"Te esperamos en {{ $json.nombre_restaurante || 'La Terraza Mediterránea' }}, {{ $json.direccion || 'Paseo Marítimo 45' }}\"\n4. Menciona la tolerancia de 15 minutos\n\n# SI NO SABES ALGO\nOfrece el teléfono {{ $json.telefono || '96 123 45 67' }} para consultas específicas.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        800,
        208
      ],
      "id": "c812656b-38a3-4751-b89d-154b71e71fae",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Obtener Configuración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Configuración": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "verificar_disponibilidad_mesas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_sillas_disponibles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "notificar_personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8227571-3a99-4888-a7f6-ce94d13bbf3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "313f4354b134db69e835734dfd6bbc0e10a924f5f5ef85a82cc1d7cc93fa8a0a"
  },
  "id": "gjiqsU1JvY26lvQM",
  "tags": [
    {
      "name": "AI Agent",
      "id": "inO2yn1FDCs9sUNT",
      "updatedAt": "2025-11-27T11:29:49.704Z",
      "createdAt": "2025-11-27T11:29:49.704Z"
    },
    {
      "name": "Restaurante",
      "id": "jMck8HrIGWoqH4OV",
      "updatedAt": "2025-11-27T11:29:49.716Z",
      "createdAt": "2025-11-27T11:29:49.716Z"
    },
    {
      "name": "Reservas",
      "id": "jW4ZRLqr81Gw8NSE",
      "updatedAt": "2025-11-27T11:29:49.722Z",
      "createdAt": "2025-11-27T11:29:49.722Z"
    },
    {
      "name": "Supabase",
      "id": "uvJYXLM6IQQgfmEa",
      "updatedAt": "2025-11-27T11:29:49.725Z",
      "createdAt": "2025-11-27T11:29:49.725Z"
    }
  ]
}