workflows/Asistente_Reservas_Twilio_Integrado.json
{
  "name": "Asistente Reservas Restaurante - AI Agent + Twilio Voice",
  "nodes": [
    {
      "parameters": {
        "content": "# 🍽️ Asistente de Reservas para Restaurantes\n\n## Workflow con AI Agent + Twilio Voice\n\n**Canales de entrada:**\n- ✅ n8n Web Chat (Chat Trigger)\n- ✅ Twilio Voice (llamadas telefónicas)\n\n**Funcionalidades:**\n- Consultar disponibilidad de mesas\n- Crear reservas con datos de contacto\n- Gestionar tronas y alzadores\n- Cancelar/modificar reservas\n- Notificaciones al personal\n\n**Requisitos:**\n- Supabase (tablas y funciones SQL)\n- OpenRouter API Key\n- Telegram Bot (notificaciones)\n- Twilio Account (llamadas)",
        "height": 480,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -704
      ],
      "id": "850b6fdd-19d6-4e38-80a8-353e3b32969d",
      "name": "Introducción"
    },
    {
      "parameters": {
        "content": "## 📱 Canal: Web Chat\n\nRecibe mensajes del Web Chat integrado de n8n.\n\n**Flujo:**\n1. Chat Trigger recibe mensaje\n2. Preparar Contexto Chat (source='chat')\n3. AI Agent procesa\n4. Detectar Origen → respuesta Chat",
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -208
      ],
      "id": "6178eb8f-d6b9-460c-873b-7455739b6437",
      "name": "Nota Chat"
    },
    {
      "parameters": {
        "content": "## 📞 Canal: Twilio Voice\n\nRecibe llamadas telefónicas vía Twilio.\n\n**Flujo:**\n1. Llamada entrante → Webhook inicial\n2. Saludo + Gather (captura voz)\n3. Twilio envía texto transcrito\n4. AI Agent procesa\n5. Respuesta TwiML con voz\n\n**Configurar en Twilio:**\nWebhook URL: `https://tu-n8n/webhook/twilio-restaurante`",
        "height": 300,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -16
      ],
      "id": "fa0df4fa-d688-4339-bcbf-6a75453fa6df",
      "name": "Nota Twilio"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        -416
      ],
      "id": "f5ad0d33-e8ca-4998-8c90-4dbf6ff39ebb",
      "name": "Chat Trigger",
      "webhookId": "4b40a989-96e2-4c74-8ee1-78b2c2fe7fb2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "chat",
              "type": "string"
            },
            {
              "id": "fecha-actual",
              "name": "fecha_actual",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "hora-actual",
              "name": "hora_actual",
              "value": "={{ $now.format('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "dia-semana",
              "name": "dia_semana",
              "value": "={{ ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][$now.weekday] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -416
      ],
      "id": "fd8f053b-579a-4fe2-ac04-c31c3378bc06",
      "name": "Preparar Contexto Chat"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-restaurante",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        32
      ],
      "id": "434a06b5-5dda-4652-aa4f-5ca0506dd616",
      "name": "Twilio Voice Webhook",
      "webhookId": "twilio-restaurante-voice",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.SpeechResult }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Con Mensaje"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.SpeechResult }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saludo Inicial"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        32
      ],
      "id": "6527ba43-8294-42b4-9a04-2c47bbc5a779",
      "name": "¿Tiene Mensaje?"
    },
    {
      "parameters": {
        "jsCode": "// Genera TwiML de saludo inicial con Gather para capturar voz\nconst caller = ($input.first().json.body && $input.first().json.body.From) || 'Unknown';\nconst callSid = ($input.first().json.body && $input.first().json.body.CallSid) || 'Unknown';\n\n// TwiML con Gather para Speech Recognition\nconst twimlResponse = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"Polly.Lucia\" language=\"es-ES\">\n    Hola, bienvenido a La Terraza Mediterranea. Soy Marina, tu asistente virtual.\n    ¿En que puedo ayudarte? Puedes hacer una reserva, consultar disponibilidad, o preguntar sobre nuestro restaurante.\n  </Say>\n  <Gather input=\"speech\" language=\"es-ES\" speechTimeout=\"3\" action=\"/webhook/twilio-restaurante\" method=\"POST\">\n    <Say voice=\"Polly.Lucia\" language=\"es-ES\">\n      Por favor, dime como puedo ayudarte.\n    </Say>\n  </Gather>\n  <Say voice=\"Polly.Lucia\" language=\"es-ES\">\n    No he escuchado nada. Adios.\n  </Say>\n</Response>`;\n\nreturn [{\n  json: {\n    twiml: twimlResponse,\n    callSid: callSid,\n    caller: caller,\n    type: 'greeting'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        128
      ],
      "id": "eb60ab45-2ee7-4b6b-9900-5945082eed75",
      "name": "Generar Saludo TwiML",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        128
      ],
      "id": "9da7ee1e-6a84-4b9b-872f-f9492c14088b",
      "name": "Responder Saludo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $json.body.SpeechResult }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "=twilio-{{ $json.body.CallSid }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "twilio",
              "type": "string"
            },
            {
              "id": "caller-phone",
              "name": "callerPhone",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "call-sid",
              "name": "callSid",
              "value": "={{ $json.body.CallSid }}",
              "type": "string"
            },
            {
              "id": "fecha-actual",
              "name": "fecha_actual",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "hora-actual",
              "name": "hora_actual",
              "value": "={{ $now.format('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "dia-semana",
              "name": "dia_semana",
              "value": "={{ ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][$now.weekday] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -64
      ],
      "id": "3169fff8-13f9-48b2-9149-75d1d6f8ab8e",
      "name": "Preparar Contexto Twilio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        -192
      ],
      "id": "d6716bd4-9e34-47c8-8a3b-aabf1c0ce792",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        544,
        -304
      ],
      "id": "28fde969-5118-4f0e-90ef-c773ed712e23",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ETqSjqYlWaYTf1rT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "# ROL\nEres Marina, la asistente virtual de reservas de La Terraza Mediterránea.\n\n# PERSONALIDAD\n- Amable, eficiente y servicial\n- Hablas de tú a los clientes\n- Transmites la esencia mediterránea y relajada del restaurante\n- Eres proactiva ofreciendo alternativas cuando no hay disponibilidad\n- IMPORTANTE: Responde de forma CONCISA para llamadas telefónicas (máximo 2-3 frases por respuesta)\n\n# CANAL ACTUAL\n{{ $json.source === 'twilio' ? 'LLAMADA TELEFÓNICA - Sé breve y claro. El cliente está hablando por teléfono.' : 'CHAT WEB - Puedes ser más detallado.' }}\n\n# HERRAMIENTAS DISPONIBLES\nTienes acceso a las siguientes herramientas que DEBES usar:\n\n1. **obtener_config_restaurante**: Obtiene configuración general.\n2. **obtener_zonas_restaurante**: Obtiene las zonas disponibles.\n3. **obtener_info_restaurante**: Obtiene información por categorías.\n4. **verificar_disponibilidad_mesas**: Verifica mesas disponibles.\n5. **crear_reserva**: Crea una nueva reserva.\n6. **consultar_sillas_disponibles**: Consulta tronas y alzadores.\n7. **buscar_reserva**: Busca reserva por código o teléfono.\n8. **cancelar_reserva**: Cancela una reserva existente.\n9. **notificar_personal**: Notifica al personal por Telegram.\n\n# REGLAS IMPORTANTES\n- SIEMPRE usa las herramientas para obtener información actualizada\n- NO inventes datos, consulta siempre la base de datos\n- Tolerancia de llegada: 15 minutos\n- Duración estándar de reserva: 2 horas\n- Para llamadas telefónicas: respuestas cortas y claras\n\n# REGLA CRÍTICA SOBRE MESAS\n- Los IDs de mesa son códigos como M001, M002, M003, etc.\n- NUNCA inventes nombres descriptivos como 'mesa_romantica' o 'mesa_terraza'\n- SIEMPRE usa el valor EXACTO del campo 'id' que devuelve verificar_disponibilidad_mesas\n- Si una herramienta falla, INFORMA al cliente del error, NO confirmes la reserva\n- Ejemplo correcto: mesa_id='M005'. Ejemplo INCORRECTO: mesa_id='mesa_romantica'\n\n# FECHA Y HORA ACTUAL\n- Fecha: {{ $json.fecha_actual || $now.format('yyyy-MM-dd') }}\n- Hora: {{ $json.hora_actual || $now.format('HH:mm') }}\n- Día: {{ $json.dia_semana || ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][$now.weekday] }}\n\n# TELÉFONO DEL CLIENTE (si es llamada)\n{{ $json.callerPhone || 'No disponible' }}\n\n# FLUJO DE CONVERSACIÓN\n\n## Para NUEVA RESERVA:\n1. Preguntar fecha y hora deseada\n2. Preguntar número de comensales\n3. Verificar disponibilidad con herramienta\n4. Ofrecer opciones disponibles\n5. Pedir nombre y teléfono\n6. Confirmar y crear reserva\n7. Dar código de confirmación\n\n## Para CONSULTAS:\n- Usar herramientas para información actualizada\n- Responder de forma concisa en llamadas\n\n## Para CANCELACIONES:\n1. Pedir código de reserva o teléfono\n2. Buscar y confirmar datos\n3. Proceder con cancelación",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        656,
        -416
      ],
      "id": "4e955467-3677-4ea1-ae88-5fd67b69e7ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Determinar el origen del mensaje (Chat o Twilio)\n// Intentamos acceder a los nodos de contexto de forma segura\nlet source = 'chat'; // Por defecto es chat\nlet sessionId = '';\n\ntry {\n  // Intentar obtener el contexto de Twilio\n  const twilioContext = $('Preparar Contexto Twilio').first();\n  if (twilioContext && twilioContext.json && twilioContext.json.source === 'twilio') {\n    source = 'twilio';\n    sessionId = twilioContext.json.sessionId || '';\n  }\n} catch (e) {\n  // Si falla, intentar obtener el contexto de Chat\n  try {\n    const chatContext = $('Preparar Contexto Chat').first();\n    if (chatContext && chatContext.json) {\n      source = 'chat';\n      sessionId = chatContext.json.sessionId || '';\n    }\n  } catch (e2) {\n    // Si ambos fallan, asumimos chat\n    source = 'chat';\n  }\n}\n\nconst agentOutput = $input.first().json.output || $input.first().json.text || '';\n\nreturn [{\n  json: {\n    output: agentOutput,\n    source: source,\n    sessionId: sessionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -416
      ],
      "id": "d2c96063-50d6-4511-8355-d43b812e0674",
      "name": "Detectar Origen",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source }}",
                    "rightValue": "twilio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Twilio Voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Chat"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1088,
        -416
      ],
      "id": "dd19333c-caf0-4c11-a591-2861a792a3d9",
      "name": "¿Origen?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Genera TwiML con la respuesta del AI Agent\nconst agentResponse = $input.first().json.output || $input.first().json.text || 'Lo siento, no pude procesar tu solicitud.';\nconst sessionId = $input.first().json.sessionId || '';\n\n// Limpiar respuesta para TTS (quitar markdown, emojis problemáticos)\nconst cleanResponse = agentResponse\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/#{1,6}\\s/g, '')\n  .replace(/[\\u{1F600}-\\u{1F64F}]/gu, '')\n  .replace(/[\\u{1F300}-\\u{1F5FF}]/gu, '')\n  .replace(/[\\u{1F680}-\\u{1F6FF}]/gu, '')\n  .replace(/[\\u{2600}-\\u{26FF}]/gu, '')\n  .replace(/[\\u{2700}-\\u{27BF}]/gu, '')\n  .substring(0, 500); // Limitar longitud para TTS\n\n// TwiML con respuesta y nuevo Gather para continuar conversación\nconst twimlResponse = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"Polly.Lucia\" language=\"es-ES\">\n    ${cleanResponse}\n  </Say>\n  <Gather input=\"speech\" language=\"es-ES\" speechTimeout=\"3\" action=\"/webhook/twilio-restaurante\" method=\"POST\">\n    <Say voice=\"Polly.Lucia\" language=\"es-ES\">\n      ¿Hay algo mas en lo que pueda ayudarte?\n    </Say>\n  </Gather>\n  <Say voice=\"Polly.Lucia\" language=\"es-ES\">\n    Gracias por llamar a La Terraza Mediterranea. Hasta pronto.\n  </Say>\n</Response>`;\n\nreturn [{\n  json: {\n    twiml: twimlResponse,\n    originalResponse: agentResponse,\n    cleanedResponse: cleanResponse,\n    sessionId: sessionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -336
      ],
      "id": "489c4b9c-f667-4ad6-8401-22e8da3c9bbf",
      "name": "Generar Respuesta TwiML",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        -336
      ],
      "id": "f6b671df-459e-420b-82e2-d80960475d89",
      "name": "Responder a Twilio"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verifica qué mesas están disponibles para una fecha, hora y número de personas específicos. IMPORTANTE: Devuelve lista de mesas con el campo 'id' (ej: M001, M002). DEBES usar el valor EXACTO del campo 'id' cuando crees una reserva, NO inventes nombres descriptivos.",
        "operation": "getAll",
        "tableId": "mesas",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=activa=eq.true&capacidad=gte.{{ $fromAI('num_personas', 'Número de personas para la reserva', 'number') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        800,
        -192
      ],
      "id": "2681ac7b-0848-4bfa-8880-eb5ff59ae4ad",
      "name": "verificar_disponibilidad_mesas",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una nueva reserva en el restaurante. CRÍTICO: mesa_id DEBE ser el ID exacto de la tabla mesas (ej: M001, M002, M003), NO nombres descriptivos. Usa el 'id' que devolvió verificar_disponibilidad_mesas. Requiere: fecha (YYYY-MM-DD), hora (HH:MM), nombre_cliente, telefono, num_personas, mesa_id (ej: M001). Opcionales: email, tronas, alzadores, notas. Si la herramienta falla, informa al cliente del error.",
        "tableId": "reservas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $fromAI('fecha', 'Fecha de la reserva en formato YYYY-MM-DD', 'string') }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "={{ $fromAI('hora', 'Hora de la reserva en formato HH:MM', 'string') }}"
            },
            {
              "fieldId": "nombre_cliente",
              "fieldValue": "={{ $fromAI('nombre_cliente', 'Nombre completo del cliente', 'string') }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $fromAI('telefono', 'Teléfono de contacto del cliente', 'string') }}"
            },
            {
              "fieldId": "num_personas",
              "fieldValue": "={{ $fromAI('num_personas', 'Número de comensales', 'number') }}"
            },
            {
              "fieldId": "mesa_id",
              "fieldValue": "={{ $fromAI('mesa_id', 'ID EXACTO de la mesa (ej: M001, M002). DEBE ser el valor del campo id de la tabla mesas, NO un nombre descriptivo', 'string') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'Email del cliente, vacío si no lo proporciona', 'string') }}"
            },
            {
              "fieldId": "tronas",
              "fieldValue": "={{ $fromAI('tronas', 'Número de tronas necesarias, 0 si no necesita', 'number') }}"
            },
            {
              "fieldId": "alzadores",
              "fieldValue": "={{ $fromAI('alzadores', 'Número de alzadores necesarios, 0 si no necesita', 'number') }}"
            },
            {
              "fieldId": "notas",
              "fieldValue": "={{ $fromAI('notas', 'Notas especiales o peticiones del cliente', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        944,
        -192
      ],
      "id": "fa1e8341-1522-480b-a96d-59430eb8e3fa",
      "name": "crear_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulta la disponibilidad de tronas y alzadores para una fecha específica.",
        "operation": "getAll",
        "tableId": "disponibilidad_sillas",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=fecha=eq.{{ $fromAI('fecha', 'Fecha a consultar YYYY-MM-DD', 'string') }}&estado=in.(pendiente,confirmada)"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1088,
        -192
      ],
      "id": "bf74ac28-2068-48c7-8baf-d38d8626e930",
      "name": "consultar_sillas_disponibles",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca una reserva existente por código de reserva (RES-XXXXX) o por teléfono del cliente.",
        "operation": "getAll",
        "tableId": "reservas",
        "limit": 5,
        "filterType": "string",
        "filterString": "=or=(codigo.eq.{{ $fromAI('codigo', 'Código de reserva o vacío', 'string') }},telefono.eq.{{ $fromAI('telefono', 'Teléfono del cliente o vacío', 'string') }})"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        800,
        -64
      ],
      "id": "1f192c74-cb91-4f74-947e-66f36dfd0b28",
      "name": "buscar_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela una reserva existente. Requiere el ID único (UUID) de la reserva.",
        "operation": "update",
        "tableId": "reservas",
        "filterType": "string",
        "filterString": "=id=eq.{{ $fromAI('reserva_id', 'UUID de la reserva a cancelar', 'string') }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "cancelada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        944,
        -64
      ],
      "id": "1b29d94a-aa9b-41f8-bca4-c5900b6311dc",
      "name": "cancelar_reserva",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envía una notificación al personal del restaurante por Telegram. Usar para reservas grandes o peticiones especiales.",
        "chatId": "-1001234567890",
        "text": "={{ $fromAI('mensaje', 'Mensaje para notificar al personal', 'string') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        1088,
        -64
      ],
      "id": "abd7db14-c90f-4206-9a56-18d8fb2b40b1",
      "name": "notificar_personal",
      "webhookId": "a5aa1b24-94be-4a88-963f-889661e83ffb",
      "credentials": {
        "telegramApi": {
          "id": "hyQLZ5KnUejpDqlZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene toda la información del restaurante: configuración general, horarios, precios. USAR cuando necesites datos del restaurante.",
        "operation": "getAll",
        "tableId": "config_restaurante",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1232,
        -192
      ],
      "id": "db26b252-7210-4c8b-9966-32e33fb8dc64",
      "name": "obtener_config_restaurante",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene las zonas disponibles del restaurante con su descripción. Usar cuando pregunten por zonas.",
        "operation": "getAll",
        "tableId": "zonas_restaurante",
        "returnAll": true,
        "filterType": "string",
        "filterString": "disponible=eq.true"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1232,
        -64
      ],
      "id": "a86e5fe1-50ee-4fa5-81be-7b2aacdcc1df",
      "name": "obtener_zonas_restaurante",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtiene información detallada del restaurante: especialidades, menú del día, formas de pago, parking, accesibilidad.",
        "operation": "getAll",
        "tableId": "info_restaurante",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1376,
        -192
      ],
      "id": "d2a4ebf8-8a3b-43db-8742-6edb4bed9280",
      "name": "obtener_info_restaurante",
      "credentials": {
        "supabaseApi": {
          "id": "4rnK3RJimD1tbCQL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Preparar Contexto Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Voice Webhook": {
      "main": [
        [
          {
            "node": "¿Tiene Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Mensaje?": {
      "main": [
        [
          {
            "node": "Preparar Contexto Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Saludo TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Saludo TwiML": {
      "main": [
        [
          {
            "node": "Responder Saludo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Twilio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Detectar Origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Origen": {
      "main": [
        [
          {
            "node": "¿Origen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Origen?": {
      "main": [
        [
          {
            "node": "Generar Respuesta TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta TwiML": {
      "main": [
        [
          {
            "node": "Responder a Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "verificar_disponibilidad_mesas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_sillas_disponibles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reserva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "notificar_personal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener_config_restaurante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener_zonas_restaurante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "obtener_info_restaurante": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32addced-a5e5-47bf-85bb-fd06e993d796",
  "meta": {
    "instanceId": "313f4354b134db69e835734dfd6bbc0e10a924f5f5ef85a82cc1d7cc93fa8a0a"
  },
  "id": "QPpooR47PI7XtGBv",
  "tags": [
    {
      "name": "Voice",
      "id": "6MN614ECKRafMDTw",
      "updatedAt": "2025-11-28T16:58:33.334Z",
      "createdAt": "2025-11-28T16:58:33.334Z"
    },
    {
      "updatedAt": "2025-11-27T11:29:49.704Z",
      "createdAt": "2025-11-27T11:29:49.704Z",
      "id": "inO2yn1FDCs9sUNT",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2025-11-27T11:29:49.716Z",
      "createdAt": "2025-11-27T11:29:49.716Z",
      "id": "jMck8HrIGWoqH4OV",
      "name": "Restaurante"
    },
    {
      "updatedAt": "2025-11-27T11:29:49.722Z",
      "createdAt": "2025-11-27T11:29:49.722Z",
      "id": "jW4ZRLqr81Gw8NSE",
      "name": "Reservas"
    },
    {
      "name": "Twilio",
      "id": "p6ZhRn4qqEXWCvKg",
      "updatedAt": "2025-11-28T16:58:33.325Z",
      "createdAt": "2025-11-28T16:58:33.325Z"
    }
  ]
}